        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'evenementTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'evenementTabPan' | translate}}">
                        <div class="grid">


                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'evenementReference' | translate}}<span style="color: red;">*</span></label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'evenementReference' | translate}}" id="1" [(ngModel)]="item.reference"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validEvenementReference}"  />
                                            <small class='p-error' *ngIf='!validEvenementReference'>Reference est obligatoire.</small>
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'evenementEvenementStart' | translate}}</label>
                                            <p-calendar appendTo="body" id="2"   [showTime]="true" [showSeconds]="false" placeholder="{{'evenementEvenementStart' | translate}}"  [(ngModel)]="item.evenementStart"
                                                      >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'evenementEvenementEnd' | translate}}</label>
                                            <p-calendar appendTo="body" id="3"   [showTime]="true" [showSeconds]="false" placeholder="{{'evenementEvenementEnd' | translate}}"  [(ngModel)]="item.evenementEnd"
                                                      >
                                            </p-calendar>
                                            
                                        </div>

                                    <div class="field col-11 md:col-5">
                                            <label for="4">{{'evenementSalle' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="salles" [(ngModel)]="item.salle" id="4"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="reference" placeholder="{{'evenementSalle' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="5">{{'evenementDescription' | translate}}</label>
                                            <textarea appendTo="body" id="5" pInputTextarea rows="5" cols="30" placeholder="{{'evenementDescription' | translate}}"  [(ngModel)]="item.description"
                                                     ></textarea>
                                            
                                        </div>

                                    <div class="field col-11 md:col-5">
                                            <label for="6">{{'evenementEvenementState' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="evenementStates" [(ngModel)]="item.evenementState" id="6"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="reference" placeholder="{{'evenementEvenementState' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
